@import './variables';

// @TODO: TEST
// -webkit-font-smoothing: antialiased;
// -moz-osx-font-smoothing: grayscale;

// @import 'ui-huma/scss/app';

@import 'ui-huma/scss/variables';
@import 'bootstrap/scss/bootstrap';

/////////////
// PLUGINS //
/////////////

@import 'bootstrap-custom-checkbox-toggle/bootstrap-custom-checkbox-toggle';
@import 'fm-plugin-flatpickr/scss/flatpickr';
@import 'fm-plugin-chartjs/scss/chartjs';
@import 'fm-avatar/avatar';
@import 'fm-loader/loader';
@import 'sass-math/math';
@import 'corner-ribbon/sass/corner-ribbon';

/////////
// MDK //
/////////

@import 'material-design-kit/src/style';

////////////
// CUSTOM //
////////////

@import 'ui-huma/scss/helpers';
@import 'ui-huma/scss/material-icons';
@import 'ui-huma/scss/icon-holder';
@import 'ui-huma/scss/type';
@import 'ui-huma/scss/measure';
@import 'ui-huma/scss/layout';
@import 'ui-huma/scss/layout-app';
@import 'ui-huma/scss/layout-mini';
@import 'ui-huma/scss/layout-compact';
@import 'ui-huma/scss/layout-boxed';
@import 'ui-huma/scss/badge';
@import 'ui-huma/scss/breadcrumb';
@import 'ui-huma/scss/alert';
@import 'ui-huma/scss/button';
@import 'ui-huma/scss/card';
@import 'ui-huma/scss/card-feedback';
@import 'ui-huma/scss/card-header-tabs-basic';
@import 'ui-huma/scss/popover';
@import 'ui-huma/scss/image';
@import 'ui-huma/scss/pagination';
@import 'ui-huma/scss/rating';
@import 'ui-huma/scss/table';
@import 'ui-huma/scss/list-group';
@import 'ui-huma/scss/media';
@import 'ui-huma/scss/nav';
@import 'ui-huma/scss/nav-tabs';
@import 'ui-huma/scss/nav-tabs-card';
@import 'ui-huma/scss/subnav';
@import 'ui-huma/scss/avatar-group';

@import 'ui-huma/scss/page-heading';
@import 'ui-huma/scss/page-headline';
@import 'ui-huma/scss/page-separator';
@import 'ui-huma/scss/page-separator-mask';
@import 'ui-huma/scss/page-section';
@import 'ui-huma/scss/page-nav';
@import 'ui-huma/scss/page-num';

@import 'ui-huma/scss/progression-bar';
@import 'ui-huma/scss/code';
@import 'ui-huma/scss/tooltip';
@import 'ui-huma/scss/chip';
@import 'ui-huma/scss/brand';
@import 'ui-huma/scss/carousel-card';

@import 'ui-huma/scss/header';
@import 'ui-huma/scss/hero';
@import 'ui-huma/scss/box';

@import 'ui-huma/scss/effects';
@import 'ui-huma/scss/search';
@import 'ui-huma/scss/stack';
@import 'ui-huma/scss/footer';

@import 'ui-huma/scss/form';
@import 'ui-huma/scss/input-group';
@import 'ui-huma/scss/input-group-merge';
@import 'ui-huma/scss/custom-file-naked';
@import 'ui-huma/scss/custom-radio-icon';
@import 'ui-huma/scss/custom-select-icon';
// @import 'ui-huma/scss/material-forms';

@import 'ui-huma/scss/sidebar';
@import 'ui-huma/scss/sidebar-dark';
@import 'ui-huma/scss/sidebar-black';
@import 'ui-huma/scss/sidebar-black-dodger-blue';
@import 'ui-huma/scss/sidebar-dark-purple';
@import 'ui-huma/scss/sidebar-dark-blue';
@import 'ui-huma/scss/sidebar-dark-pickled-bluewood';
@import 'ui-huma/scss/sidebar-light';

@import 'ui-huma/scss/navbar';
@import 'ui-huma/scss/navbar-light';
@import 'ui-huma/scss/navbar-dark';
@import 'ui-huma/scss/navbar-dark-white';
@import 'ui-huma/scss/navbar-black';
@import 'ui-huma/scss/navbar-dark-blue';
@import 'ui-huma/scss/navbar-dark-pickled-bluewood';
@import 'ui-huma/scss/navbar-dark-purple';

@import 'ui-huma/scss/dropdown';
@import 'ui-huma/scss/dropdown-notifications';
@import 'ui-huma/scss/overlay';

@import 'ui-huma/scss/indicator-line';
// @import 'ui-huma/scss/maps';
// @import 'ui-huma/scss/dashboard-area-tabs';
// @import 'ui-huma/scss/dashboard-location-tabs';
// @import 'ui-huma/scss/todo';
// @import 'ui-huma/scss/skills';
@import 'ui-huma/scss/posts';
@import 'ui-huma/scss/messages';

// @import 'ui-huma/scss/login-image';
// @import 'ui-huma/scss/login-centered-boxed';

.ui .page__container {
  max-width: 944px;
}

// @import 'bv-form-image-group/src/BvFormImageGroup';
@import './bv-form-image-group';

@import './course-nav';
@import './player';
@import './accordion';
@import './quiz';
@import './avatar';
@import './popover-rtl';

// @TODO: add to bv-form-image-group
.bv-no-focus-ring :focus {
  outline: none;
}

// @TODO: add to ui-huma/scss/_navbar.scss
.top-navbar {
  top: $navbar-height !important;
}

// @TODO: add to ui-huma/scss/_layout.scss
body:not(.sub-layout) .mdk-drawer-layout {
  overflow: visible; // fix children with position: sticky;
}

// @TODO: add to ui-huma/scss/_page-nav.scss
.page-nav {
  max-height: 100vh;
  overflow-y: visible;
}

.sidebar-dark-dodger-blue {
  .sidebar-submenu .sidebar-menu-text::after {
    background-color: $accent-red;
  }
}

.h-100vh {
  height: 100vh;
}

// @TODO: move to ui-huma/scss/_layout-boxed.scss
@include media-breakpoint-up(lg) {
  .layout-boxed__layout {
    padding: 1rem 0;
  }
}

.sub-layout-content {
  min-height: initial;
}

// @TODO: move to ui-huma/scss/_layout.scss
@include media-breakpoint-only(xs) {
  .mdk-header-layout .sub-layout-drawer .mdk-drawer__content {
    top: $navbar-height;
  }
}

.b-rating-inline {
  box-shadow: none;
  padding: 0;
  background-color: transparent;
  
  .b-rating-star:first-of-type {
    padding-left: 0;
  }
  
  &.form-control-sm {
    height: 1rem;
  }

  &.form-control-lg {
    height: 1.5rem;
  }
}

.b-rating-value {
  line-height: 1;
  color: $text-muted;
}

.text-rating {
  color: $rating !important;
}

// @TODO: add to ui-huma
#settings .form-image-group {
  flex-wrap: wrap !important;
  margin-left: -.25rem;
  margin-right: -.25rem;

  .col {
    margin-left: 0 !important;
  }
  .col:nth-child(even) {
    margin-left: .5rem !important; 
  }
  .col:nth-child(1n+3) {
    margin-top: .5rem !important; 
  }

  .col {
    padding-left: .25rem;
    padding-right: .25rem;
    flex: 0 0 50%;
    max-width: 50%;
    &:nth-child(even) {
      margin-left: 0 !important;
    }
  }
  img {
    width: 100%;
  }
}